*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.wrapper {
    width: 1920px;
    margin: auto;
}

.left {
    width: 255px;
    height: 1100px;
    background-color: #363740;;
    float: left;
}

.left ul {
    border-top: 1px solid #40414A;
    
}

.left a {
    color: #DDE2FF;
    text-decoration: none;
    padding: auto;
}

.left li {
    width: 255px;
    height: 56px;
    list-style: none;
    border : 1px solid #363740;

}

.left li:hover {
    background-color: #3F4049;
    border-left : 3px solid #DDE2FF;
}

a {
    display: block;
    margin-top: 18px;
    margin-left: 75px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.logo {
    width: 255px;
    height: 71px;
}

.logo img {
    width: 32px;
    height: 32px;
    margin-left: 32px;
    margin-top: 20px;
    float: left;
}

.logo span {
    margin-top: 27px;
    margin-left: 8px;
    font-family: NanumGothic;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 19px;
    width: 66px;
    height: 19px;
    color: #838590;

    float: left;
}
/* Main ===================================================== */

.main {
    width: 1665px;
    height: 1100px;
    background-color: #F7F8FC;
    float: left;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.2px;
}
/* title=================================================== */

.title {
    width: 1665px;
    height: 71px;
    background-color: #282932;
}

.app {
    margin-left: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    color: white;
    float: left;
    margin-top: 10px;
}

.app span {
    font-size: 12px;
}


.all {
    width: 1665px;
    height: 71px;
    padding-top: 14px;
}

.search {
    float: right;
    color: white;
}

.search input {
    width: 316px;
    height: 44px;
    border-radius: 2px;
    padding-left: 15px;
    font-family: Mulish;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #CBCBCE;
}

.search1 {
    float: right;
    color: white;
    margin-left: 16px;
}

.search1 button {
    width: 149px;
    height: 44px;
}

.alert {
    margin-top: 10px;
    margin-right: 33px;
    margin-left: 30px;
    float: right;
    color: white;
}

.info {
    float: right;
    color: white;
    margin-right: 23px;
    padding-left: 20px;
    border-left: 1px solid white;
}

.info div {
    width: 250px;
    height: 18px;
    text-align: right;
    padding-right: 75px;
    margin-left: -10px;
}

.accImg {
    margin: -5px 10px 1px 0px;
    width: 44px;
    height: 44px;
    float: right;
    border: 1.5px solid white;
    border-radius: 50% 50% 50% 50%;
    padding: 2px;
    display: block;
}

input[type="search"] {
    font-family: FontAwesome;
}

.search1 button {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #282932;
    color: white;
}

/* control =========================================== */

.control {
    width: 1600px;
    height: 48px;
    margin-top: 24px;
    margin-left: 30px;
}

.control button {
    color: white;
    background-color: #3751FF;
    margin-top: -25px;
    width: 168px;
    height: 44px;
    float: right;
}

.control span {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
}

/* table ========================================================= */

.page {
    float: right;
    margin-right: 27px;
    margin-top: 20px;
    padding-bottom: 27px;
    color: #CBCBCE;
}

.option {
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    color: #CBCBCE;
}

.table {
    display: block;
    width: 1600px;
    height: 885px;
    background-color: white;
    margin-top: 27px;
    margin-left: 30px;
    margin-bottom: 65px;
    border: 2px solid #DFE0EB;
}

.table td {
    width: 1599px;
    height: 92px;
}

.table tr {
    text-align: left;
    width: 1599px;
    height: 57px;
}

table, th, td{
    border-bottom:2px solid #DFE0EB;
}

table{
    border-collapse:collapse;
}

.cot1 {
    width: 15%;
    padding-bottom: 2px;
}

th span {
    padding-top: 12px;
    display: block;
}

.rectangle {
    width: 31px;
    height: 39px;
    background-color: #c4c4c4;
    float: left;
    margin-top: 0px;
    padding-bottom: 5px;
    padding-bottom: -5px;
    margin-bottom: -18px;
    margin-left: -2px;
    display: inline;
}

.cot2 {
    width: 24%;
}

.cot3 {
    width: 8%;
}

.cot4 {
    width: 8%;
}

.cot5 {
    width: 8%;
}

.cot6 {
    width: 8%;
}

.cot7 {
    width: 8%;
}

.cot8 {
    width: 8%;
}

.cot9 {
    width: 8%;
}

.dong1 {
    padding-left: 31px;
    padding-right: 0px;
}

.dong2 {
    padding-right: 70px;
}

.dong3 {
    padding-right: 20px;
}

.dong4 {
    padding-right: 67px;
}

.dong5 {
    padding-right: 34px;
}

.dong6 {
    padding-right: 55px;
}

.dong7 {
    padding-right: 25px;
}

.dong8 {
    padding-right: 59px;
}

.dong9 {
    
}