.form {
    /* width: 1600px; */
    width: 98%;
    /* height: 895px; */
    height: 88%;
}

.form1 {
    /* width: 1600px; */
    width: 99%;
    /* height: 209px; */
    height: 18%;
    background-color: white;
    margin-top: 0.5%;
    margin-left: 1.2%;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.t1 {
    /* width: 400px; */
    width: 25%;
    height: 209px;
    float: left;
}

.t1 input {
    /* width: 367px; */
    width: 96%;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #DFE0EB;
    padding-left: 10px
}

.t2 {
    /* width: 392px; */
    width: 25%;
    height: 209px;
    float: left;
}

.t2 input {
    /* width: 367px; */
    width: 96%;
    height: 40px;
    border: solid 1px #DFE0EB;
    padding-left: 10px
}

.t2 select {
    /* width: 367px; */
    width: 96%;
    height: 40px;
    padding-left: 10px
}

.t3 {
    /* width: 175px; */
    width: 10%;
    height: 100px;
    float: left;
    padding : 108px 0px 0px 25px;
}

.t3 select {
    /* width: 174px; */
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

.t4 {
    /* width: 175px; */
    width: 10%;
    height: 100px;
    float: left;
    padding : 108px 0px 0px 18px;
}

.t4 select {
    /* width: 174px; */
    width: 100%;
    height: 40px;
    padding-left: 10px
}

.t5 {
    /* width: 286px; */
    width: 25%;
    height: 100px;
    float: left;
    padding : 108px 0px 0px 25px;
}

.t5 input {
    /* width: 367px; */
    width: 100%;
    height: 40px;
    border: solid 1px #DFE0EB;
}

.form2 {
    /* width: 1600px; */
    width: 99%;
    /* height: 43px; */
    height: 33%;
    margin-top: 17px;
    background-color: white;
    margin-left: 1.2%;
}

.f21 {
    /* width: 1536px; */
    width: 98%;
    /* height: 220px; */
    margin-left: 32px;
    height: 100%;
    margin-bottom: 38px;
}

table {
    /* width: 1536px; */
    width: 99%;
    /* height: 220px; */
    height: 70%;
    text-align: center;
}

table, th, td{
    border:1px solid #c4c4c4;
}

td span {
    /* padding: 5px 30px 5px 30px; */
    padding: 3% 30% 3% 30%;
    width: 159px;
    height: 24px;
    border: 1px solid #c4c4c4;
}

table{
    border-collapse: collapse;
}

.f22 {
    /* width: 622px; */
    width: 90%;
    height: 70px;
    float: left;
    margin-left: 32px;
    margin-top: 16px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.f2t1 input {
    /* width: 264px; */
    width: 25%;
    height: 40px;
    float: left;
    border: solid 1px #DFE0EB;
    background-color:#F2F2F2;
    padding-left: 10px
}

.f2b1 {
    width: 156px;
    height: 40px;
    background-color: #3751FF;
    color: white;
    padding-top: 6px;
    float: left;
    border-radius: 2px;
}

.f2b1 img {
    float: left;
    display: block;
    margin-left: 16.5px;
    margin-right: -15px;
    margin-top: -5px;
}

/* .f2b1 {
    width: 103px;
    height: 40px;
    background-color: #3751FF;
    color: white;
    padding-top: 6px;
} */

.f2b2 {
    width: 175px;
    height: 40px;
    background-color: white;
    color: #3751FF;
    padding-top: 6px;
    float: left;
    border: #3751FF 1px solid;
    border-radius: 2px;
}

.f2b2 img {
    width: 25px;
    height: 20px;
    color: #3751FF;
    float: left;
    display: block;
    margin-left: 15px;
    margin-right: -15px;
    margin-top: -4px;
}

.fix {
    width: 100px;
    height: 26px;
    background: #3751FF;
    color: white;
    padding-top: 5px;
    padding-right: 10px;
}

.form3 {
    /* width: 1600px; */
    width: 99%;
    height: 245px;
    margin-top: 15px;
    background-color: white;
    margin-left: 1.2%;
}

.form3 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #252733;
}

.f31 {
    /* width: 264px; */
    width: 78%;
    height: 40px;
    float: left;
    background-color: red;
}

.f32 {
    float: left;
}

.f32 button {
    width: 103px;
    height: 42px;
    background-color: #3751FF;
    color: white;
    padding-top: 6px;
}

.f32 img {
    float: left;
    display: block;
    margin-left: 16.5px;
    margin-right: -15px;
    margin-top: -5px;
}

.f33 {
    width: 600px;
    height: 230px;
    float: left;
    padding-left: 24px;
    padding-top: 27px;
}

.f33 textarea {
    /* width: 759px; */
    width: 175%;
    height: 150px;
    border: solid 1px #DFE0EB;
}

.button {
    margin-top: 16px;
    width: 340px;
    height: 40px;
    float: right;
}

.b1 {
    width: 104px;
    height: 40px;
    float: left;
    margin-right: 8px;
    border-radius: 2px;
}

.b1 img {
    float: left;
    margin: 0px -20px 0px 16.5px;
}

.b1 button {
    width: 104px;
    height: 40px;
    color: red;
}

.b2 {
    width: 83px;
    height: 40px;
    float: left;
    margin-right: 8px;
    border-radius: 2px;
}

.b2 img {
    float: left;
    margin: 0px -10px 0px 17.25px;
}

.b2 button {
    width: 83px;
    height: 40px;
    background-color: #27AE60;
    color: white;
}

.b3 {
    width: 137px;
    height: 40px;
    float: left;
    border-radius: 2px;
}

.b3 img {
    float: left;
    margin: 5px -15px 0px 16.88px;
}

.b3 button {
    width: 137px;
    height: 40px;
    background-color: #3751FF;
    color: white;
}

.add {
    width: 99%;
    height: 70%;
    padding-bottom: 10px;
    clear: both;
    border : 1px solid black;
}