*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.wrapper {
    width: 100%;
    height: 1000px;
    margin: auto;
    margin-top: 15px;
}

.menu {
    width: 15%;
    height: 1000px;
    float: left;
    margin-top: 0px;
}

.logo img {
    text-align: center;
    width: 70px;
    height: 70px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu-main ul {
    list-style: none;
    padding-inline-start: 0px;
}

.menu-main ul li {
    padding: 20px;
}

.menu-main ul li:hover {
    background-color: #3A427D;
}

.menu-main {
    width: 100%;
    height: 950px;
    background-color: #3C4B64;
    margin-top: -15px;
}

.logo {
    text-align: center;
    background-color: #303C54;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #303C54;
}

.content {
    width: 85%;
    height: 985px;
    background-color: #EBEDEF;
    float: left;
    border-top: none;
}

.acc i {
    padding-top: -10px;
}

.acc {
    margin-top: -30px;
    /* background-color: red; */
    float: right;
}

.acc img {
    width: 35px;
    height: 35px;
    border-radius: 50% 50% 50% 50%;
    margin-top: -40px;
}

.acc div {
    margin-top: -10px;
}

.title {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: -15px;
}

.title p {
    padding-left: 15px;
    padding-top: 15px;
}

.control {
    width: 99%;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

.control div {
    width: 100px;
    height: 30px;
    padding-top: 2px;
}

.control span {
    text-align: center;
    padding-top: 5px;
    display: block;
}

.control a {
    float: left;
    color: #6E7A8C;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5px;
    text-decoration: none;
}

.control a:hover {
    background-color: #3399FF;
}

.baoquanhtable {
    width: 97%;
    height: 280px;
    background-color: white;
    margin-left: 15px;
    margin-top: 15px;
}

.baoquanhtable p {
    padding-left: 15px;
    padding-bottom: 10px;
}

.baoquanhtable .title p {
    padding-top: 10px;
    border-bottom: 1px solid #EBEDEF;
}

.table {
    padding-top: 20px;
    padding-left: 15px;
    width: 97%;
}

th {
    padding: 5px;
}

td {
    padding-left: 5px;
}

table {
    width: 101%;
    height: 150px;
}

table, th, td{
    border:2px solid #D8DBE0;
}

table{
    border-collapse:collapse;
}

.chan {
    width: 100%;
    height: 50px;
    padding-top: 20px;
}

.left {
    width: 800px;
    height: 20px;
    float: left;
    padding-left: 15px;
}

.center {
    width: 170px;
    height: 20px;
    float: left;
}


.right {
    margin-right: -30px;
    width: 170px;
    height: 20px;
    float: right;
}

.right a {
    text-align: center;
    text-decoration: none;
    color: #321FDB;
    border: 0.5px solid #D8DBE0;
    padding: 5px;
    margin-right: -5px;
}

.right a:hover {
    background-color: #321FDB;
    color: white;
}

.back {
    width: 100%;;
    height: 50px;
}

.back i {
    padding-top: 15px;
    padding-right: 20px;
}

select {
    background-color: white;
    border: thin solid grey;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 1.5px 30px 0.5px 10px;
    box-sizing: border-box;
    -webkit-appearance: none;
  }

select.arrows {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC');
    background-position: calc(100% - .5rem), 100% 0;
    background-size:  1.5em 1.5em;
    background-repeat: no-repeat;
  }
